@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  font-family: "Roboto", Arial;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #38d8c6;
    display: flex;
  flex-direction: column;
}

.centered {
  display: flex;
  justify-content: center;
  height: 90vh;
  margin-top:50px;
}

.registro {
  width: 350px;
  height: 500px;
  border-radius: 20px;
  box-shadow: -5px 6px 17px -6px rgba(0, 0, 0, 0.75);
  display: inline-block;
  background-color: #fff;
  padding-top: 1px;
  text-align: center;
}

.custom-form {
  padding: 50px;
}

.login {
  width: 350px;
  height: 250px;
  border-radius: 20px;
  box-shadow: -5px 6px 17px -6px rgba(0, 0, 0, 0.75);
  display: inline-block;
  background-color: #fff;
  text-align: center;
  margin-left: 20px;
}

